<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace ="partials/head :: head">
<body>

<main class="container">
    <div class="post">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.title}"></p>
        <p>Contact me at <span th:text="${post.owner.email}"></span></p>
    </div>

    <form th:action="${'/post/'+ post.id +'/delete'}" method="POST">
        <input type="submit" value="delete ad">
    </form>

<!--    <ul class="post" th:each="cat : ${ad.categories}">-->
<!--        <li th:text="${cat.name}"></li>-->
<!--    </ul>-->

<!--    <div class="post" th:each="image : ${ad.images}">-->
<!--        <img th:src="${image.path}" width="200px" height="auto">-->
<!--    </div>-->

</main>

</body>
</html>