<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace ="partials/head :: head">
</head>
<body>
<nav th:replace ="partials/navbar :: navbar"></nav>
<div class = "container mt-3">
<div>
<h1>Roll The Dice</h1>
<h1 th:text="${dice}"></h1>
<h1 th:text="${diceroll}"></h1>
<h1 th:if="${correct}">This is the right number!</h1>
<form action="/roll-dice" method="post">
    <input type="text" name="dice" class="field" value="1" />
    <button>Click me!</button>
</form>
</div>
</div>
<footer th:replace ="partials/footer :: footer"></footer>
</body>
</html>